nav{
 
  display: flex;
  justify-content: space-between;
  color: rgb(23, 73, 180);
  padding: 0 30px;
}


nav ul{
    list-style: none;
    
   }
nav li {
       display: inline-block;
       margin-right: 20px ;
       font-size: 25px;
   }